<launch>
	
	<include file="$(find stdr_robot)/launch/robot_manager.launch" />
	
	<node type="stdr_server_node" 
	      pkg="stdr_server" 
	      name="stdr_server" 
              output="screen" 
              args="$(find stdr_resources)/maps/sparse_obstacles.yaml"/>

	<node pkg="tf" 
              type="static_transform_publisher" 
              name="world2map" 
              args="0 0 0 0 0 0  world map 100" />
	
	<include file="$(find stdr_gui)/launch/stdr_gui.launch"/>
	
	<node pkg="stdr_robot" 
              type="robot_handler" 
              name="$(anon robot_spawn)" 
              args="add $(find worlds)/robots/simple_robot.yaml 1 2 0" />

	<node pkg="worlds"
			name="tf_publisher"
			type="tf_publisher.py"
			output="screen" />	


	<node pkg="worlds"
			name="a_star"
			type="a_star.py"
			output="screen" />	


	<node pkg="pong_driver"
			name="pong_driver_node"
			type="pong_driver_node.py"
			output="screen" />	


</launch>
